.btn-primary {
    background: #1A75A9;
    padding: 15px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn-primary:hover {
    background: #155a76;
}
